@import './home.css';
@import './error.css';
@import './ticket.css';
@import './ticketinfomodal.css';
@import './header.css';
@import './footer.css';

.modalPopup {
    background-color:gray;

    position: fixed;
    /* Additions */
    left: 25%;
    right: 25%;
    top: 25%;
    background: lightseagreen;
    color: white;
    overflow-y: auto;
    
  }

  #root{
      background: rgb(68, 81, 95);
      color: wheat;
  }

.modalPopup-open {
    overflow: auto;
}