
.ticket-div {
    box-sizing: border-box;
    display: inline-block;
    height: 150px;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: lightgreen;
}

.list-group {
    list-style-type: none;
}
.ticketImage {
    float: left;
    height: 100%;
}

.ticketInfo {
    font-size: 13px;
}
.img-thumbnail {
    max-width: 150px !important;
    max-height: 100px !important;
    background-color: transparent !important;
}




